<form class="container form" (ngSubmit)="onSubmit(f)" #f="ngForm">
  <div class="row">
    <div class="col">
      <h3>Neuer Eintrag</h3>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-8 col-md-10">
      <textarea class="form-control" name="body" rows="3" ngModel required></textarea>
    </div>
    <div class="col-4 col-md-2">
      <button type="submit" class="btn btn-primary" [disabled]="f.invalid">Senden</button>
    </div>
  </div>
</form>
