<div class="jumbotron">
  <div class="row text-center align-items-center" *ngIf="!editMode">
    <div class="col-10" (click)="showComments=!showComments" [contextMenu]="basicMenu" [contextMenuSubject]="post">
      <p class="lead mb-0">{{post.body}}</p>
    </div>
    <div class="col-2">
      <div class="row justify-content-center" *ngIf="authService.isAuthenticated">
        <img class="img"
             (click)="onClickUp()"
             src="https://cdn0.iconfinder.com/data/icons/elite-arrows/512/chevron-up-512.png"
             alt="Up">
      </div>
      <div class="row justify-content-center my-2">{{post.rating}}</div>
      <div class="row justify-content-center" *ngIf="authService.isAuthenticated">
        <img class="img"
             (click)="onClickDown()"
             src="https://cdn0.iconfinder.com/data/icons/elite-arrows/512/chevron-down-512.png"
             alt="Down">
      </div>
    </div>
  </div>

  <form class="row text-center align-items-center form" *ngIf="editMode" (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="col-8 col-md-10">
      <textarea type="text" class="form-control" name="body" rows="2" [(ngModel)]="post.body" required></textarea>
    </div>
    <div class="col-4 col-md-2">
      <button class="btn btn-primary mb-1" type="submit" [disabled]="f.invalid">Senden</button>
      <button class="btn btn-primary" type="button" (click)="onAbort()">Abbrechen</button>
    </div>
  </form>

  <div class="row mt-3" *ngIf="showComments">
    <div class="offset-2 col-6">
      <app-comments [post]="post"></app-comments>
    </div>
  </div>
</div>

<context-menu [disabled]="!authService.isAuthenticated">
  <ng-template contextMenuItem (execute)="editPost($event)">Bearbeiten</ng-template>
  <ng-template contextMenuItem (execute)="deletePost($event)">Löschen</ng-template>
</context-menu>
