<div class="container">
  <div class="row">
    <div class="col">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="form-group">
          <label for="InputName">Name</label>
          <input type="text"
                 class="form-control"
                 id="InputName"
                 placeholder="Name"
                 name="name"
                 ngModel
                 required>
        </div>

        <div class="form-group">
          <label for="InputPassword1">Password</label>
          <input type="password"
                 class="form-control"
                 id="InputPassword1"
                 placeholder="Password"
                 name="password"
                 ngModel
                 required>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Submit</button>
      </form>
    </div>
  </div>
</div>
