<div class="container mt-3">
  <div class="row mb-5" *ngIf="authService.isAuthenticated">
    <div class="col">
      <app-posts-edit (postCreated)="loadPosts($event)"></app-posts-edit>
    </div>
  </div>
  <div class="row text-center" *ngFor="let post of posts">
    <div class="col">
      <app-post [post]="post" *ngIf="post.rating>-5" (postChanged)="loadPosts()"></app-post>
    </div>
  </div>
</div>
