<form (ngSubmit)="onSubmit(f)" #f="ngForm" class="form">
  <div class="row mb-5 align-items-center">
    <div class="col-10">
      <textarea class="form-control" name="body" rows="2" ngModel required></textarea>
    </div>
    <div class="col-2">
      <button class="btn btn-primary" type="submit" [disabled]="f.invalid">Senden</button>
    </div>
  </div>
</form>
