<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">Jödel</a>
  <form class="form-inline">
    <a class="btn btn-primary my-2 my-sm-0"
       type="submit"
       *ngIf="!authService.isAuthenticated"
       routerLink="/login">Login</a>
    <a class="btn btn-primary my-2 my-sm-0"
       type="submit"
       *ngIf="authService.isAuthenticated"
    (click)="onLogout()">Logout
    </a>
  </form>
</nav>
