<div class="container">
  <div class="row" *ngFor="let comment of comments">
    <div class="col">
      <app-comment [comment]="comment"></app-comment>
    </div>
  </div>
  <div class="row" *ngIf="!comments || !comments.length">
    <div class="col">
      <p>Es sind keine Kommentare vorhanden.</p>
    </div>
  </div>
</div>
<app-comments-edit [post]="post" *ngIf="authService.isAuthenticated" (commentCreated)="commentCreated()"></app-comments-edit>
